[submodule "lib/live_cluster/client/schemas"]
	path = lib/live_cluster/client/schemas
	url = https://github.com/aerospike/schemas.git
[submodule ".github/packaging/common"]
	path = .github/packaging/common
	url = https://github.com/aerospike/tools-packaging-common.git
	branch = pvinh/SERVER-516
