[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "4.0.1"
cryptography = "==38.0.4"
distro = "==1.5.0"
jsonschema = "==2.5.1"
pexpect = "==4.8.0"
ply = "==3.11"
pyasn1 = "==0.4.2"
toml = "==0.9.4"
yappi = "==1.4.0"
pyOpenSSL = "==18.0.0"
setuptools = "*"
aiohttp = "==3.8.1"
python-dateutil = "2.8.2"
msgpack = "1.0.4"
 
[dev-packages]
pyinstaller = "==4.10"
black = "*"
flake8 = "*"
pytest = "*"
mock = "*"
coverage = "*"
macholib = {version = "*", sys_platform = "== 'darwin'"}
asynctest = "*"

[requires]
python_full_version = "3.10.9"

[pipenv]
allow_prereleases = true
