[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "5.0.0"
cryptography = "==46.0.5"
pyopenssl = "==26.0.0"
distro = "==1.9.0"
jsonschema = "==4.26.0"
pexpect = "==4.9.0"
ply = "==3.11"
toml = "==0.10.2"
yappi = "==1.6.0"
setuptools = "82.0.1"
aiohttp = "==3.13.3"
python-dateutil = "2.8.2"
msgpack = "1.1.2"
parameterized = "*"
typing-extensions = "*"
asyncssh = "*"

[dev-packages]
parameterized = "*"
pyinstaller = "==6.19.0"
black = "26.3.1"
flake8 = "7.3.0"
pytest = "*"
mock = "*"
coverage = "*"
macholib = {version = "*", sys_platform = "== 'darwin'"}
aerospike = "*"
docker = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
