-i https://pypi.org/simple
aiohttp==3.8.1
aiosignal==1.3.1; python_version >= '3.7'
async-timeout==4.0.2; python_version >= '3.6'
attrs==22.1.0; python_version >= '3.5'
bcrypt==4.0.1
cffi==1.15.1
charset-normalizer==2.1.1; python_full_version >= '3.6.0'
cryptography==38.0.4
distro==1.5.0
frozenlist==1.3.3; python_version >= '3.7'
idna==3.4; python_version >= '3.5'
jsonschema==2.5.1
msgpack==1.0.4
multidict==6.0.3; python_version >= '3.7'
pexpect==4.8.0
ply==3.11
ptyprocess==0.7.0
pyasn1==0.4.2
pycparser==2.21
pyopenssl==22.1.0
python-dateutil==2.8.2
setuptools==65.6.3
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
toml==0.9.4
yappi==1.4.0
yarl==1.8.2; python_version >= '3.7'
