-i https://pypi.org/simple
aiohttp==3.8.1
aiosignal==1.3.1; python_version >= '3.6'
async-timeout==4.0.2; python_version >= '3.6'
attrs==21.4.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
bcrypt==3.1.4
cffi==1.15.0
charset-normalizer==2.1.0; python_version >= '3.6'
cryptography==3.4.7
distro==1.5.0
frozenlist==1.3.0; python_version >= '3.7'
idna==3.3; python_version >= '3.5'
jsonschema==2.5.1
msgpack==1.0.4
multidict==6.0.2; python_version >= '3.7'
pexpect==4.4.0
ply==3.11
ptyprocess==0.7.0
pyasn1==0.4.2
pycparser==2.21; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyopenssl==18.0.0
python-dateutil==2.8.2
setuptools==62.6.0
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
toml==0.9.4
yappi==0.98
yarl==1.7.2; python_version >= '3.6'
