name: Tests
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["dependabot/**"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: true
      - name: Get Python version from Pipfile
        run: echo "PYTHON_VERSION=$(grep "python_version" Pipfile | cut -d ' ' -f 3  - | tr -d '"')" >> $GITHUB_ENV
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@3542bca2639a428e1796aaa6a2ffef0c0f575566 # v3.1.4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install pipenv
          pipenv install --dev
      - name: Build
        run: |
          make
      - name: Tests with coverage report
        env:
          FEATKEY: ${{ secrets.TEST_FEAT_KEY }}
        run: |
          pipenv run bash -c "make coverage"
          pipenv run bash -c "coverage xml"
      - name: Upload Collectinfo for Debugging
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test_collectinfo
          path: /tmp/asadm_test*
          if-no-files-found: error
      - name: Upload Health Struct for Debugging
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: health_files
          path: "*_health_input.txt"
          if-no-files-found: error
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # v3.1.6
        with:
          files: coverage.xml
          fail_ci_if_error: false
