name: Tests
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["dependabot/**"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Get Python version from Pipfile
        run: echo "PYTHON_VERSION=$(grep "python_full_version" Pipfile | cut -d ' ' -f 3  - | tr -d '"')" >> $GITHUB_ENV
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install pipenv
          pipenv --python /usr/bin/python
          pipenv install --dev
      - name: Build
        run: |
          make
      - name: Tests with coverage report
        env:
          FEATKEY: ${{ secrets.TEST_FEAT_KEY }}
        run: |
          pipenv run bash -c "make coverage"
          pipenv run bash -c "coverage xml"
      - name: Upload Collectinfo for Debugging
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_collectinfo
          path: /tmp/asadm_test*
          if-no-files-found: error
      - name: Upload Health Struct for Debugging
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: health_files
          path: "*_health_input.txt"
          if-no-files-found: error
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: coverage.xml
          fail_ci_if_error: false
